   /* .textsize h4 {
            font-size: 20px;
            font-weight: bold;
            margin-left: 65px;
        }

        .textsize p {
            font-size: 10px;
            font-weight: bold;
            margin-left: 65px;
        } */