<p>editpassword works!</p>
<div class="jumbotron bg-info mt-5">
    <div class="card">
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
            <div class="text-center heading">Edit password form</div>



            <label for=newpassword>New Password</label>
            <div class=input-group>
                <input type=password class=form-control name="newpassword" ngModel id=newpassword name=newpassword
                    placeholder="Type Your Password">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-lock icon"></i> </div>
                </div>
            </div>


            <label for=confirmpassword>Confirm New Password</label>
            <div class=input-group>
                <input type=password class=form-control name="confirmpassword" (blur)="check(form.value)" ngModel
                    id=confirmpassword name=confirmpassword placeholder="Type Your Password">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-lock icon"></i> </div>
                </div>

                <div *ngIf=isTrue>
                    password not matched
                </div>
            </div>

            <label for=currentpassword>current password</label>
            <div class=input-group>

                <input type="password" class="form-control" name="currentpassword" ngModel id=currentpassword
                    placeholder="Type Your currentpassword">
                <div class="input-group-prepend">
                    <div class="input-group-text"> <i class="fa fa-user icon"></i> </div>
                </div>
            </div>

            <button type="submit" class="btncss" mt-5>Submit</button>
        </form>
    </div>
</div>