.input-group-text {
    border: none;
    position: absolute;
    left: -30px;
    right: 0px;
    margin-top: 10px;
    color: #e1e1e1;
    background-color: white;
    font-size: 25px;
    margin-left:-15px;
}