<!-- <p>admin dashboard works!</p> -->

<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="" class="nav-link">home</a>
        </li>
        <li class="nav-item">
            <a routerLink="managenotice" class="nav-link">manage notice</a>
        </li>
        <li class="nav-item">
            <a routerLink="manageresult" class="nav-link">manage result</a>
        </li>
        <li class="nav-item">
            <a routerLink="addadmin" class="nav-link">add admin</a>
        </li>
        <li class="nav-item">
            <a routerLink="viewadmin" class="nav-link">view admin</a>
        </li>
        <li class="nav-item">
            <a routerLink="/" class="nav-link">logout</a>
        </li>
    </ul>
</nav> -->





<div class="header-top"></div>
<header>
    <div class="pagewidth">
        <nav class="nav">
            <a href="#"><img style="height:100px;" src="assets/images/desktop.jpeg" alt="logo"></a>
            <ul class="menu">
                <li class="active"><a routerLink="/">Home</a></li>
                <li>
                    <a routerLink="managenotice">Manage notice<i class="fa fa-chevron-down"></i>
                        <!-- <div class="menu-dropdown">
                            <ul>
                                <li><a routerLink="/">Support</a></li>
                                <li><a routerLink="/">Contact</a></li>
                            </ul>
                        </div> -->
                    </a>
                </li>
                <!-- <li><a routerLink="manageresult">Manage result</a></li>
                <li><a routerLink="addadmin">add </a></li> -->
                <li><a routerLink="viewadmin">view</a></li>
                <!-- <li><a routerLink="/" class="menu_demo-btn">Demo</a></li> -->
                <button type="button" (click)="logout()">logout</button>
            </ul>
        </nav>
    </div>
</header>
<section class="banner">
    <div class="pagewidth">
        <div class="banner-left">
            <div class="banner-left-content">
                <h1>Goodbye noticeboard.<br> Hello Online Noticeboard.</h1>
                <p>A powerful platform for faculty and students, from <br> suthra technologies</p>
                <a class="banner-left-content-btn" href="#">Try Online notice board now</a>
            </div>
        </div>

    </div>
</section>



<div class="container">
    <router-outlet></router-outlet>
</div>