
        /* .banner {
        
            background-image: url(../../../assets/images/banner-home.jpg);
            background-size: cover;
            height: 500px;
            width: 100%;
            position: relative;

        } */





       /*admin page*/
       body {
        margin: 0;
        /*body has default margin and padding*/
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f5f5f5;
    }

    /* ul{
margin:0; ul has default margin and padding
padding:0;
} */
    li {
        list-style: none;
        /*remove list-style to nav elements */
    }

    /* a{
text-decoration: none; remove underline under nav elements
} */
    .header-top {
        position: absolute;
        margin: 0 auto;
        left: 0;
        top: 0;
        height: 10px;
        width: 100%;
        right: 0;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.2);
    }

    header {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 9;
    }

    .pagewidth {
        max-width: 1100px;
        /*set page width and space between left and right of page*/
        margin: 0 auto;
        /*set page width and space between left and right of page*/
    }

    nav {
        display: flex;
        /*logo and nav links display side by side*/
        justify-content: space-between;
        /*space between logo and links*/
        /* margin: 34px 0; space between top and bottom */
        margin: 30px -71px;
        align-items: center;
        /* logo is aligned center to nav elements*/

    }

    .menu {
        display: flex;
        /*nav elements which are in li displays horizontially.*/

    }

    .menu li {
        margin: 0 10px;
        position: relative;
    }

    .menu li .menu-dropdown {
        background-color: #fff;
        border-radius: 4px;
        position: absolute;
        top: 70px;
        left: 6px;

        width: 150px;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.9s ease-in-out all;
        -ms-transition: 0.9s ease-in-out all;
        -moz-transition: 0.9s ease-in-out all;
        -o-transition: 0.9s ease-in-out all;
        transition: 0.9s ease-in-out all;
    }

    .menu li:hover .menu-dropdown {
        opacity: 1;
        visibility: visible;
        top: 40px;
    }

    .menu li .menu-dropdown ul li {
        border-bottom: 1px solid #ddd;
        margin: 0;
    }

    .menu li .menu-dropdown ul li:last-child {
        border-bottom: 0;
    }

    .menu li .menu-dropdown ul li a {
        color: #000;
        padding: 12px;
        display: flex;
    }

    .menu li .menu-dropdown ul li a:after {
        display: none;
    }

    .menu li .menu-dropdown ul li:hover a {
        background-color: #f2b636;
        color: #fff;

    }

    .menu li a {
        text-transform: uppercase;
        color: #fff;
        padding: 8px;
        font-weight: 700;
        position: relative;
    }

    .menu li a i {
        font-size: 15px;
        padding-left: 10px;
    }

    .menu li a::after {
        position: absolute;
        content: "";
        left: 8px;
        bottom: 0;
        width: 0px;
        height: 2px;
        background-color: #fff;
        -webkit-transition: 0.9s ease-in-out all;
        -ms-transition: 0.9s ease-in-out all;
        -moz-transition: 0.9s ease-in-out all;
        -o-transition: 0.9s ease-in-out all;
        transition: 0.9s ease-in-out all;
        opacity: 0;
    }

    .menu li a:hover::after,
    .menu li.active a:after {
        opacity: 1;
        width: 20px;
    }

    /* .menu_demo-btn{
border: 1px solid white;
border-radius: 4px;
padding:0px 20px;

}
.menu_demo-btn::after{
display: none;
} */
    .menu li a.menu_demo-btn {
        border: 1px solid white;
        border-radius: 4px;
        padding: 8px 20px;

    }

    .menu li a.menu_demo-btn::after {
        display: none;
    }

    .banner {
        background-image: url(../../../assets/images/banner-home.jpg);
        /* background-image: url(assets/images/banner-home.jpg); */
        background-size: cover;
        height: 500px;
        width: 100%;
        position: relative;

    }

    .banner-left {
        position: absolute;
        height: 100%;
    }

    .banner-left::before {
        background-color: #f2b636;
        height: 100%;
        width: 2500px;
        content: " ";
        position: absolute;
        right: -10px;
        top: 0;
        transform: skewX(-18deg)
    }

    .banner-left-content {
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    .banner-left-content h1 {
        font-size: 30px;
    }

    .banner-left-content p {
        font-size: 20px;
    }

    .banner-left-content-btn {
        border: 1px solid black;
        color: #000;
        font-weight: 600;
        border-radius: 4px;
        padding: 15px 30px;
        /* display:inline-flex; */
        display: inline-block;
    }

    